<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <a th:href="@{/insert}">Добавить пользователя</a>
</div>
<div class="container">
    <span th:if="${users.size() == 0}">Пользователей нет</span>
    <div th:unless="${users.size() == 0}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Возраст</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}" th:align="center"></td>
                <td th:text="${user.surname}" th:align="center"></td>
                <td th:text="${user.age}" th:align="center"></td>
                <td>
                    <a type="button" class="btn btn-warning" th:href="@{/update(id=${user.id})}">Редактировать</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger" th:href="@{/delete(id=${user.id})}">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>